h1 {
  color: #f07178;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  color: #5eb7f7;
  font-size: 1.7em;
  font-weight: 700;
}

h3 {
  color: #f07178;
  font-size: 1.45em;
  font-weight: 700;
}

h4 {
  color: #d5a461;
  font-size: 1.25em;
  font-weight: 700;
}

h5 {
  color: #b8d982;
  font-size: 1.1em;
  font-weight: 700;
}